
body {
	font: bold  x-large/1.5 'Helvetica Neue';
	color:#fff;
	margin:0;
	padding:0;
  height: 100%;
  overflow: hidden;
	}

.full {
	background: rgba(54, 100, 139, 0.66);
	background-size: cover;
	padding:40px;
	height:100%;
	left:0;
	top:0;
	overflow: hidden;
  margin-left: 70px;
  margin-top: -300px;
  position: relative;
	}

.full2 {
	background: rgba(54, 100, 139, 0.66);
	background-size: cover;
	padding:40px;
	height:100%;
	left:0;
	top:0;
	overflow: hidden;
  margin-left: 70px;
  margin-top: -550px;
  position: relative;
	}

.full3 {
  background: green;
  background-size: cover;
  padding:40px;
  padding-top: 160px;
  height:100%;
  left:0;
  top:0;
  overflow: hidden;
  width: 500px;
  }


h1 {
	font-size:90%;
	border-bottom:4px solid rgba(255,255,255,.2);
	display:inline-block;
  color: black;
	}

a {
	color:#fff;
  font-size: 19px;
  border-bottom:4px solid rgba(255,255,255,.2);
	}


p {
	margin:4% 4% -4% 4%;
	font-size:70%;
  color: #36648b;
  width: 100%;
	}

ul {
  margin:-22% 4% -4% 4%;
	font-size:70%;
  list-style-type: decimal-leading-zero;
  width: 100%;
  }

li {
	font-size:70%;
  color: #36648b;
  width: 100%;
  }


.a {
  margin-left: 25%;
  }

.menu {
  margin:4% 4% -4% 0%;
	font-size:70%;
  color: #fff;
  width: 100%;
  font-size: 80px;
  }

.full-cv {
  background: #36648b;
	background-size: cover;
	padding:40px;
	height:100%;
	left:0;
	top:0;
	overflow: hidden;
  width: 500px;
  }

.menua {
  position: relative;
  cursor: pointer;
  font-weight: 700;
  opacity: 1;
  color: #FFF;
  height: 44px;
  margin-top: 400px;
  font-size: 30px;
  }

.zasady {
  background: grey;
  }



.lina {
  padding-top: 490px;
  border: 5px solid black;
  margin-top: 80px;
  transform: rotate(45deg);
  }

.lina2 {
  padding-top: 490px;
  border: 5px solid #36648b;
  margin-top: -130px;
  transform: rotate(70deg);
  }

.lina3 {
  padding-top: 145px;
  border: 5px solid rgba(255,255,255,.2);
  margin-top: -830px;
  transform: rotate(135deg);
  }

.lina4 {
  padding-top: 135px;
  border: 5px solid #859CAF;
  margin-top: 2px;
  transform: rotate(70deg);
  }

 .lina5 {
  padding-top: 134px;
  border: 5px solid #AF8585;
  margin-top: 2px;
  transform: rotate(150deg);
  }

.lina6 {
  padding-top: 419px;
  border: 5px solid #A585AF;
  margin-top: -400px;
  transform: rotate(170deg);
  }

.lina7 {
  padding-top: 500px;
  border: 5px solid #9CC157;
  margin-top: -500px;
  transform: rotate(123deg);
  }

ul.pagination {
  display: inline-block;
  padding: 0;
  margin-top: 0px;
  position: absolute;
  }

ul.pagination li {display: inline;}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  }

ul.pagination li a.active {
  background-color: #4CAF50;
  color: white;
  }

ul.pagination li a:hover:not(.active) {
  background-color: #ddd;
  }

ul.pagination1 {
  display: inline-block;
  padding: 0;
  margin-top: 0px;
  position: absolute;
  }
ul.pagination1 li {display: inline;}

ul.pagination1 li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
	margin-left: 43px;
  }

ul.pagination1 li a.active {
  background-color: #4CAF50;
  color: white;
  }

ul.pagination1 li a:hover:not(.active) {
  background-color: #ddd;
  }

#divOnTop {
  z-index: 1000;
  }
